# dependencies
node_modules
/package-lock.json

# production
.next
out

# misc
/.pnp
.pnp.js
*.log
.DS_Store
.env.local
.env.development.local
.env.production.local
.env.test.local

# testing
coverage

# typescript
*.tsbuildinfo

